.footer.row
    .col.logo-area
        img(class="logo-area__image" src="img/logo.png" alt="logo")

    .col.social-area
        h3.footer-caption Социальные сети 
        .social-icons

    .col.sep-line-area
        .footer__sep-line
        
    .col.politics-area
        h3.footer-caption Политика 
        p.footer-text Условия использования
        p.footer-text Политика конфедециальности
        p.footer-text Политика cookie

    .col.contacts-area
        h3.footer-caption Контакты 
        p.footer-text Адреса
        p.footer-text Телефоны
        p.footer-text Поддержка клиентов
        p.footer-text Почта
    