header
    .row.row-header
        .header.col
            .logo-place
                img(class="logo-place__image" src="img/logo.png" alt="logo")
            .func-buttons
                form(action="GET" class="search-form")
                    input(type="text" name="search-text-box" class="search-form__input" placeholder="Поиск...")
                button.button-search     
                button.button-menu

