.row.menu-row
    .col-md-5.justify-content-right.menu
        nav.links
            a.menu__link(href="") Бананы
            a.menu__link(href="") Банановые этикетки
            a.menu__link(href="") Блюда из бананов
            a.menu__link(href="") Рейтинг бананов
            a.menu__link(href="") Форум
            .cross-line
            a.menu__link(href="") Аккаунт
            .cross-line 
            a.menu__link(href="") Контакты