.footer
    background clr_dark-background
    min-height 40vh
    margin 0

.footer > .col
    padding 45px 0 0 0
    box-sizing border-box

.logo-area__image
    width 50%

.footer-caption
    font-size fnt-sz_middle
    font-weight 700
    color clr_yellow
    margin 0 0 25px 0

.footer-text
    font-size fnt-sz_verySmall
    color clr_grey
    font-weight 300
    margin 0 0 10px 0

.sep-line-area
    display flex
    justify-content center

.footer__sep-line
    background clr_grey
    height 100%
    width 1px
    opacity 0.6