header
    display grid;
    grid-template-columns 1fr;

.header
    display grid
    background clr_alt-background
    height 10vh
    max-height 55px
    grid-template-columns  1fr 1fr

.logo-place
    display flex
    align-items center
    height 100%

.logo-place__image
    width 100%
    max-width 130px


.func-buttons
    display flex
    justify-content right
    align-items center
    z-index 10 

.func-buttons__search
    display grid
    grid-template-columns 1fr 6vw
    position relative
       
.search-container
    display flex
    align-items center
    margin-right 20px

.search-form
    width 0
    display flex
    justify-content flex-end 
    opacity 0
    transition inherit
    margin 0
    transition all .4s ease-in

.search-form-show
    opacity 1
    right 100%
    width 300px
    

.search-form__input
    transition inherit
    box-sizing border-box
    height 40px
    border none
    background clr_dark-background
    padding 0
    font-size fnt-sz_verySmall
    color clr_grey
    padding 10px
    width 100%

.search-form__input-show
    border-radius 40px 0 0 40px


.button-search    
    background-image url('svg/glass.svg')
    position relative
    background-size 20%
    z-index initial
    transition all .4s ease-out

.button-search-pushed
    border-radius 0 100% 100% 0 !important
    background-color clr_dark-background

.button-menu
    background url('svg/menu.svg')
    margin-right 40px

.button
    background-repeat no-repeat
    background-position center
    background-size 60%
    height 40px
    width 40px
    max-width 40px
    border none
    border-radius 20px
    transition background .4s ease-in-out border-radius .9s ease-out


.button:hover 
    background-color clr_dark-background
    cursor pointer

.button:active 
     transform scale(0.9)
