
.menu-row
    justify-content right 
    height 100vh
    position fixed
    display flex
    top 0
    transition opacity .4s ease-in-out   
    opacity 0
    z-index 1
    padding 0
    right 0px

.menu-row-enabled
    opacity 1


.menu
    background clr_alt-background
    padding 8vh 0 0 0
    width 100%

.links
    margin-top 20px
    display flex
    flex-direction column
    justify-content center

.links > a 
    text-align right
    margin 10px 0
    padding-right 3vw
    font-size 18px
    transition all .4s ease-in-out        

.links > a:hover
    color: clr_alt-background
    background clr_yellow
    text-decoration none
    padding 20px 3vw 20px 0

.menu__link
    color clr_yellow