
.slide
    margin 0px 0 20px 0
    width 100%
    display flex
    padding 20px 0
    box-sizing border-box
    
.slide-right
    justify-content right

.slide-right > .slide__info-container > p, .slide-right > .slide__info-container > h1 
    text-align right

.slide-left
    justify-content left 

.slide-left > .slide__info-container
    padding 20px 0 20px 50px

.slide-right > .slide__info-container
    padding 20px 50px 20px 0
    align-items self-end 

.slide-right > .slide__img-container
    justify-content left 

.slide__info-container-thermometer
    background url('svg/thermometer.svg')

.slide__info-container-cargo
    background url('svg/cargo-ship.svg')

.slide__info-aid-kit
    background url('svg/first-aid-kit.svg')    

.slide__info-container
    display flex
    flex-direction column
    box-sizing border-box
    height 90vh
    background-repeat no-repeat
    background-position 35vw 35vh

.slide__caption
    color clr_yellow
    font-size fnt-sz_big
    font-weight 600
    margin 0 0 10px 0

.slide__text
    color clr_grey
    font-size fnt-sz_middle
    margin 0

.slide__big-txt
    color clr_yellow
    font-size fnt-sz_over-big
    margin 30vh 0 0 0

.slide__big-txt > span
    font-size fnt-sz_big

.slide__big-txt-no-margin
    margin 0 

#thermometer-box
    position absolute
    left 40vw
    top 35vh 

.slide__img-container
    box-sizing border-box
    height 90vh
    padding 0
    display flex
    justify-content right 
     
.bg-image
    border none
    height 100%

.underline-box
    width 100%
    display flex

.underline-box-left
    justify-content left

.underline-box-right
    justify-content right 

.underline
    height 1px
    background #c4c4c4
    opacity 0.6

.slide__way-of-banana-img
    width 60%

.slide-4
    flex-direction row
    max-height none


.slide__info-container-no-height
    height auto
    margin-bottom 20px

.slide-5 
    padding 0 50px

.gistogrqamm-box
    height 70vh
    width 100%

.gistogrqamm-box-lines
    height 100%
    width 100%
    display flex
    flex-direction column
    justify-content space-between
    z-index 0
    box-sizing border-box

.gistogrqamm-box__line
    width 100%
    display flex
    align-items center

.gistogrqamm-box__line
    background clr_grey
    width 100%
    height 1px
    opacity 0.3

.columns-box
    display flex
    justify-content space-between
    height 100%
    width 100%
    transform translate(0,-100%)

.column-box
    height 0%
    display flex
    justify-content space-between
    align-self flex-end

    transition height 3s ease-out 


.column
    width 30px
    height 100%
    background clr_yellow
    border-radius 5px 5px 0 0
    margin 0 15px 0 0


.column__text-box
    display flex
    flex-direction column
    justify-content space-between
    max-height 10%

.column__text-box > p
    margin 0px

.country-name
    color clr_grey
    font-size fnt-sz_verySmall
    font-weight 400

.country-flag-image
    max-width 40px

.banana-count
    color clr_yellow
    font-size fnt-sz_middle-plus
    font-weight 700

    