.options-bar
    .options-bar__bread-crumbs
        p.options-bar__parent-pages Главная
        p.options-bar__current-page Бананы
    .options-bar__sort-method
        .options-bar__sort-method-caption-container
            img.options-bar-sort-icon(src="img/arrow.png")
            p.options-bar-sort-caption сортировать по
        p.options-bar-sort-current Алфавиту