@font-face
    font-family 'Houschka Rounded'
    src: url('fonts/HouschkaRounded-Light.eot')
    src: url('fonts/HouschkaRounded-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/HouschkaRounded-Light.svg#HouschkaRounded-Light') format('svg'),
        url('fonts/HouschkaRounded-Light.ttf') format('truetype'),
        url('fonts/HouschkaRounded-Light.woff') format('woff'),
        url('fonts/HouschkaRounded-Light.woff2') format('woff2')
    font-weight 300
    font-style normal   

@font-face
    font-family 'Houschka Rounded'
    src url('fonts/HouschkaRounded-Medium.eot')
    src url('fonts/HouschkaRounded-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/HouschkaRounded-Medium.svg#HouschkaRounded-Medium') format('svg'),
        url('fonts/HouschkaRounded-Medium.ttf') format('truetype'),
        url('fonts/HouschkaRounded-Medium.woff') format('woff'),
        url('fonts/HouschkaRounded-Medium.woff2') format('woff2')
    font-weight 500
    font-style normal
    
@font-face
    font-family 'Houschka Rounded'
    src: url('fonts/HouschkaRounded-DemiBold.eot')
    src: url('fonts/HouschkaRounded-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/HouschkaRounded-DemiBold.svg#HouschkaRounded-DemiBold') format('svg'),
        url('fonts/HouschkaRounded-DemiBold.ttf') format('truetype'),
        url('fonts/HouschkaRounded-DemiBold.woff') format('woff'),
        url('fonts/HouschkaRounded-DemiBold.woff2') format('woff2')
    font-weight 700
    font-style normal

@font-face
    font-family 'Houschka Rounded'
    src: url('fonts/HouschkaRounded-Bold.eot')
    src: url('fonts/HouschkaRounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/HouschkaRounded-Bold.svg#HouschkaRounded-Bold') format('svg'),
        url('fonts/HouschkaRounded-Bold.ttf') format('truetype'),
        url('fonts/HouschkaRounded-Bold.woff') format('woff'),
        url('fonts/HouschkaRounded-Bold.woff2') format('woff2')
    font-weight 800
    font-style normal

@font-face
    font-family 'Houschka Rounded'
    src url('fonts/HouschkaRounded-ExtraBold.eot')
    src url('fonts/HouschkaRounded-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/HouschkaRounded-ExtraBold.svg#HouschkaRounded-ExtraBold') format('svg'),
        url('fonts/HouschkaRounded-ExtraBold.ttf') format('truetype'),
        url('fonts/HouschkaRounded-ExtraBold.woff') format('woff'),
        url('fonts/HouschkaRounded-ExtraBold.woff2') format('woff2')
    font-weight 900
    font-style normal   

