@require 'fonts'
@require 'variables'
@require 'imports/header.styl'
@require 'imports/menu.styl'
@require 'imports/slides.styl'
@require 'imports/footer.styl'

body 
    margin 0
    height 100vh
    width 100%
    background clr_background
    font-family 'Houschka Rounded'
    //overflow-x hidden
