header
      .header
        .logo-place
            img(class="logo-place__image" src="img/logo.png" alt="logo")
        .func-buttons
            .search-container
                form(action="GET" class="search-form")
                    input(type="text" name="search-text-box" class="search-form__input" placeholder="Поиск...") 
                .button-search.button    
            .button-menu.button

