

section.slides

    .slide.slide-left.slide-1.row
        .slide__info-container.col-8.slide__info-container-thermometer
            //object(id="thermometer-box" type="image/svg+xml" data="svg/thermometer.svg")
            h1.slide__caption Капризный и очень слабый
            p.slide__text Пальма банана - очень прихотливое растение. 
                            |Ей нужно много воды с большим содержанием 
                            |питательных веществ, много солнечных лучей и, 
                            |конечно же, теплая температура.
            p.slide__big-txt 16°C
            p.slide__text Критическей порог для пальмы банана. 
                            |Если температура буде ниже, Рост значительно замедлится.
        .slide__img-container.col-4
            object(id="banana-contur-box" type="image/svg+xml" data="svg/banana-contur-s1.svg")
        
    div.underline-box.underline-box-left
        div.underline.col-8 

    .slide.slide-right.slide-2.row
        .slide__img-container.col-4
            object(id="banana-contur-box-2" type="image/svg+xml" data="svg/banana-contur-s2.svg")
        .slide__info-container.col-8.slide__info-container-cargo
            //object(id="thermometer-box" type="image/svg+xml" data="svg/thermometer.svg")
            h1.slide__caption Дорога перемен
            p.slide__text Вас наверняка удивит тот факт, что бананы дозревают по пути в магазин. 
                            |Срывают и упаковывают бананы в зелёном, недозрелом виде. Сделано 
                            |это не для выигрыша времени до истечения срока годности, как может 
                            |показаться на первый взгляд, а для сбережения вкусовых качеств. 
                            |Если плод оставить дозревать на пальме, он получится невкусным.
            img.slide__way-of-banana-img(src="img/wayBanana.png")
            p.slide__big-txt.slide__big-txt-no-margin 76%
            p.slide__text Бананов транспортируется по морю

    div.underline-box.underline-box-right
        div.underline.col-8

    .slide.slide-3.slide-left.row
        .slide__info-container.col-8.slide__info-container-thermometer
            //object(id="thermometer-box" type="image/svg+xml" data="svg/thermometer.svg")
            h1.slide__caption Вдарим бананом по унынию
            p.slide__text Благотворное влияние бананов на состояние нервной системы – 
                            |еще один серьезный копилку полезных качеств. Регулярное 
                            |употребление банана поможет вам избежать депрессию. 
            p.slide__big-txt 2-1
                span в день
            p.slide__text Рекомендуемое количество бананов для употребления. 
                            |Не забывайте, что злоупотребление любым продуктом, 
                            |как и бананом, ни к чему хорошему не приведёт. 
        .slide__img-container.col-4
            object(id="banana-contur-box" type="image/svg+xml" data="svg/banana-contur-s3.svg")

    div.underline-box.underline-box-left
        div.underline.col-8 
        
    .slide.slide-4.row.slide-left
        .slide__info-container.slide__info-container-no-height
            h1.slide__caption Главные по бананам
            p.slide__text Страны-лидеры по выращиванию бананов
        object(id="map" type="image/svg+xml" data="svg/world.svg")

    div.underline-box.underline-box-right
        div.underline.col-8

    .row.slide.slide-5
        .slide__info-container.slide__info-container-no-height
            h1.slide__caption Главные по бананам
            p.slide__text Страны-лидеры по выращиванию бананов
        .gistogrqamm-box
            .gistogrqamm-box-lines
                .gistogrqamm-box__line-box
                    .gistogrqamm-box__line
                .gistogrqamm-box__line-box
                    .gistogrqamm-box__line
                .gistogrqamm-box__line-box
                    .gistogrqamm-box__line
                .gistogrqamm-box__line-box
                    .gistogrqamm-box__line
                .gistogrqamm-box__line-box
                    .gistogrqamm-box__line
                .gistogrqamm-box__line-box
                    .gistogrqamm-box__line
                    
            .columns-box
                .column-box
                    .column
                    .column__text-box
                        p.country-name Бразилия
                        img(src="img/india.png" alt="" class="country-flag-image")
                        p.banana-count 20000

                .column-box
                    .column
                    .column__text-box
                        p.country-name Китай
                        img(src="img/china.png" alt="" class="country-flag-image")
                        p.banana-count 20000

                .column-box
                    .column
                    .column__text-box
                        p.country-name Индия
                        img(src="img/philippines.png" alt="" class="country-flag-image")
                        p.banana-count 20000

                .column-box
                    .column
                    .column__text-box
                        p.country-name Индия
                        img(src="img/ecuador.png" alt="" class="country-flag-image")
                        p.banana-count 20000
                        
                .column-box
                    .column
                    .column__text-box 
                        p.country-name Боливия
                        img(src="img/brazil(1).png" alt="" class="country-flag-image")
                        p.banana-count 20000
                    
