

section.slides
    .slide.slide-left.row
        .slide__info-container.col-8
            //object(id="thermometer-box" type="image/svg+xml" data="svg/thermometer.svg")
            h1.slide__caption Капризный и очень слабый
            p.slide__text Пальма банана - очень прихотливое растение. 
                            |Ей нужно много воды с большим содержанием 
                            |питательных веществ, много солнечных лучей и, 
                            |конечно же, теплая температура.
            p.slide__big-txt 16°C
            p.slide__text Критическей порог для пальмы банана. 
                            |Если температура буде ниже, Рост значительно замедлится.
        .slide__img-container.col-4
            object(id="banana-contur-box" type="image/svg+xml" data="svg/banana-contur.svg")
        div.slide-underline.col-12  
    .slide
    .slide
    .slide